.panel-group .panel {border-radius: 0; box-shadow: none; }
.panel-default > .panel-heading {padding: 0; border-radius: 0; color: #212121; }
.panel-title {font-size: 14px; letter-spacing: 0.05em; }
.panel-title > a {display: block; text-decoration: none; position: relative; }
.panel-title > a .more-less {position: absolute; top: 50%; right: 10px; width: 9px; height: 9px; -webkit-transform: translateY(-50%) rotate(0); -ms-transform: translateY(-50%) rotate(0); transform: translateY(-50%) rotate(0); -webkit-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all; }
.panel-title > a .more-less:before, .panel-title > a .more-less:after {content: ""; display: block; position: absolute; background: #9a884b; }
.panel-title > a .more-less:before {width: 9px; height: 1px; top: 4px; right: 0; }
.panel-title > a .more-less:after {width: 1px; height: 9px; top: 0; right: 4px; }
.panel-title > a[aria-expanded="true"] {color: #ababab; }
.panel-title > a[aria-expanded="true"] .more-less {-webkit-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }
.panel-body {padding-left: 20px; }
.panel-body p, .panel-body a {font-weight: 700; font-size: 12px; }
.btn.solid.golden {color: #000; background-color: #c0b283; border: 1px solid #c0b283; }
.btn.solid.golden:hover {color: #c0b283; background-color: #fff; border: 1px solid #c0b283;}
.cart-clicker {display: flex; align-items: center; }
.cart-clicker > span {margin-left: 10px; }
.cart-inner {position: absolute; top: 200%; right: 0; border: 1px solid #c0b283; padding: 20px; min-width: 540px; background-color: #fff; display: none; max-height: 80vh; overflow: auto; }
.cart-inner .link {color: #c0b283; text-decoration: none; text-transform: uppercase; }
.cart-inner h4 {text-transform: uppercase; font-weight: 500; }
.cart-inner .price {text-align: right; }
.cart-inner .price h6 {font-size: 16px; }
.sample-modal .modal-dialog {max-width: 780px; }
.modal-dialog select {height: 40px; }
.subtotal h5 {font-size: 20px; }
.accordion-section p{margin-bottom: 5px; }
.accordion-section p:last-child {margin-bottom: 0; }

/* Cart Page */
.cart-page {padding: 30px; }
.cart-page .container {border: 1px solid #9a884b; padding: 30px; }
.cart-page h4 {font-weight: 500; }
.cart-page .price-block{text-align: right; }
.cart-page .total-block p, .cart-page .price-block p {font-size: 20px; }

img.ajax-loader {width: 40px; margin-left: 10px; display: none;}
img.ajax-loader.show {display: inline-block; }

/* Checkout page */
.checkout-page {}
.checkout-page input[type="text"], .checkout-page input[type="password"], .checkout-page input[type="email"], .checkout-page input[type="tel"], .checkout-page input[type="search"], .checkout-page input[type="number"], .checkout-page textarea, .checkout-page select {height: 35px; }
.checkout-page .content-block h4 {font-size: 22px; font-weight: 500; }
.my-order-page .container, .checkout-page .container {position: relative; }
.return-page {}

.w-break {word-break: break-all;}
.big-modal .modal-dialog {width: 90%; Height: 90%; min-height: 600px; max-width: 100%}
.big-modal .modal-body {height: 600px;}
.resource-thumbs .buttons .btn {padding: 10px 18px;}
.f-right {float: right;}
select {-webkit-appearance: menulist; appearance: menulist; background: transparent;}

.d-fields .se_boxes{line-height: 2.1;}
.d-fields .se_boxes .se_inside_rel{padding-left: 16px; margin-top: -5px;display: inline-block;}
.d-fields .se_boxes .se_inside_rel label{display: block;margin-bottom: initial;}
.d-fields{padding-left:0px;}
.d-fields .se_boxes{font-size: 14px; line-height: 18px; margin: 0 auto; padding:10px 15px;cursor: pointer; border: 1px solid transparent; margin-bottom: -1px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.se_channel_fields.d-fields .se_boxes{ -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;transition: all 0.3s ease;}
.d-fields .se_boxes input[type="checkbox"]{padding-right: 5px; visibility: hidden; opacity: 0; position: absolute}
.d-fields .se_boxes.active span{color: #1d2a32;display: inline; opacity: 1;}
.d-fields .se_boxes span{/*display: none;*/ opacity: 0;}
.d-fields .se_boxes.active{ color: #1d2a32;}
.d-fields .se_boxes.active:nth-child(odd){background:#B4C3CB;/*-webkit-box-sizing: border-box;box-sizing: border-box;*/border: 1px solid rgb(255, 255, 255) }
.d-fields .se_boxes.active:nth-child(even){background:#B4C3CB;/*-webkit-box-sizing: border-box;box-sizing: border-box;*/ border: 1px solid rgb(255, 255, 255) }
.se_boxes .se-inside_main{padding-top: 10px;}
.d-fields >div:nth-child(odd) .se_boxes{background-color: rgba(215, 226, 232, 0.63);}
.d-fields >div:nth-child(even) .se_boxes{background-color:rgba(198, 212, 219, 0.82)}
.d-fields .se_boxes .se_inside_rel{margin-top: 0; padding-left: 30px; margin-bottom: 15px;}
.se_boxes .se_inside_rel label{color: rgb(95, 108, 116); font-size: 13px; letter-spacing: 0.02em; margin-bottom: 3px !important;}
.se_boxes .se_inside_rel label em{font-size: 15px; font-style: normal; margin-right: 5px;}
.se_boxes .se_inside_rel select{padding:3px 10px}
.se_default_fields .se_boxes {border: 1px solid rgb(181, 196, 203, 0.90); }
.form-control-sm {height: 31px !important; }
.dataTables_filter {float: right;}

.warning {color: #FF0000; margin-bottom: 0;}
.dress_style_link, .store_name_link {color: green;}
img.small-loader {width: 18px;}

/* Meet the Team */
.meet-the-team-group{}
.meet-the-team-thumb img {border: 1px solid #b4b4b4;}
.meet-the-team-desc h2{border-bottom:solid 1px #e4e4e4;line-height:1.2;padding-bottom:12px;font-size:22px;text-transform:uppercase;}
.meet-the-team-desc h3{padding-bottom:0px;margin-bottom:10px;font-size:22px;}
.meet-the-team-desc p{margin-bottom:10px;}
.team-divider{margin:34px 0 40px 0;height:1px;background:#e4e4e4;}

.meet-the-team-form label{line-height:1.5;display:block;}
.btn-meet-the-team{padding: 5px 30px;height:38px;}
.btn-meet-the-team:hover{background:#000;color:fff;}

/* Added by Andrew */
.btn-enzoani-small{background-color:#373737;color:#fff;font-size:12px;padding:10px 30px;}
.btn-enzoani-small-golden {color: #000; background-color: #c0b283; border: 1px solid #c0b283; font-size:12px;padding:10px 30px;}
.btn-enzoani-small-golden:hover {color: #dcd0c0; background-color: #373737; border: 1px solid #c0b283; font-size:12px;padding:10px 30px;}
.update-form label{color:#373737;font-size:16px;font-weight:700;}
.update-form .form-group label{margin-bottom:5px;}
.panel-heading{color:#373737;font-size:16px;font-weight:700;margin-bottom:5px;}
.btn-small{font-size:12px;padding:10px 30px;}

table td.event{background-color:#373737;}
table td.event a{color:#fff;display:block;}
table td.event a:hover{background-color:#fff;display:block;}
.progress-bar{background-color: #c0b283;}
.select-member-box .bs-searchbox .form-control {height: 35px; }
.select-member-box .bootstrap-select>.dropdown-toggle {color: #c0b283; padding-right: 18px !important; display: block; width: 100%; height: calc(2.25rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.select-member-box .show>.btn-light.dropdown-toggle , .bootstrap-select>.dropdown-toggle:active {background-color: #fff !important; border-color: #80bdff !important;}
.select-member-box .dropdown-item:focus, .dropdown-item:hover {color: #16181b; text-decoration: none; background-color: #dcdddf; }
.select-member-box .bootstrap-select ul li{margin-bottom: 0 !important;}

.comment-box{margin-top: 50px;}
.comment-box ul{margin-left: 30px;}
.comment-box ul:first-child{margin-left: 10px;}
.comment-box ul li {list-style: none; padding-bottom: 10px; border-bottom: 1px dotted; margin-bottom: 20px; }
.comment-box .h6, .comment-box h6 {margin-bottom: 5px;}
.comment-box p {margin-bottom: 10px;}
.comment-box p:last-child{margin-bottom: 0;}

.embed-video iframe {width: 100%; height: 420px;}
.sticky-foot-text-banner {position: fixed; overflow: hidden; box-sizing: border-box; font-family: Helvetica,Calibri,Arial,sans-serif; font-size: 16px; line-height: 1.5em; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; z-index: 9999; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); left: 0; right: 0; bottom: 0; -ms-flex-align: center; align-items: center; padding: 1em 1.8em; width: 100%; -ms-flex-direction: row; flex-direction: row; opacity: 1; transition: opacity 1s ease; }
.sticky-foot-text-banner .cc-message {-ms-flex: 1; flex: 1; }
.sticky-foot-text-banner .cc-compliance {display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }
.sticky-foot-text-banner .cc-compliance .cc-btn:last-child {display: block; padding: .4em .8em; font-size: .9em; font-weight: 700; border-width: 2px; border-style: solid; text-align: center; white-space: nowrap; cursor: pointer; min-width: 140px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-color: transparent; -ms-flex: 1; flex: 1; }
.p-wrap + .p-wrap {margin-top: 1rem;}
.uppercase {text-transform: uppercase;}
.video-icon a{display: flex; flex-wrap: wrap; background: #c0b283; height: 130px; }
.video-icon a svg {fill: #fff; padding: 10px; width: 100%; -webkit-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all;}
.video-icon a:hover svg {fill: #373323;}
.video-icon-mobile {display: none; text-align: center; margin-bottom: 20px; margin-top: -18px;}
.video-icon-mobile a{max-width: 210px; padding-top: 10px; padding-bottom: 10px; margin: 0; color: #fff !important;}
.video-icon-mobile a svg{fill: #fff; width: 45px;}
.video-icon-mobile a:hover {color: #373323 !important;}
.video-icon-mobile a:hover svg {fill: #373323;}
.fancybox-button:disabled {z-index: 99994;}
.text-green {color: green; border-color: green !important;}
.text-green a {color: green; text-decoration: underline;}
.text-green a:hover {color: #9a884b;}
.spec-sheet-link:hover{text-decoration: none;}
.spec-sheet-link svg{min-width: 15px; max-width: 15px; margin-right: 5px;}
.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {z-index: 99997;}
.reset-link {text-align: center; margin-top: 24px;}
.new-select select {appearance:none;}

@media (max-width:640px) {
    .video-icon {display: none !important;}
    .video-icon-mobile {display: block;}
}

@media (max-width: 1023px) and (min-width: 768px) {
    .navigation ul li a {font-size: 11px;}
}

@media (min-width: 768px) {
    .product-full-row {-ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
	.btn-meet-the-team{margin-top:18px;}
}
@media (max-width:767px) {
    .my-account {display: none; }
    .cart-page .price-block{/*text-align: left;*/ }
    .checkout-page .content-block h4 {font-size: 20px; }
    .embed-video iframe {height: 360px;}
}

@media (max-width:580px) {
    .cart-inner {min-width: 90vw; right: 5vw; }
    .cart-inner h4 {font-size: 12px; margin-bottom: 5px; }
    .cart-inner .link {font-size: 10px; }
    .cart-inner .btn {padding: 10px 20px; }
    .main-content {padding-top: 60px; }
    a.big.btn {padding-left: 20px; padding-right: 20px; }

    .resource-thumbs .buttons .btn {width: 100%; margin-bottom: 6px; }
    .resource-thumbs .buttons .btn:last {margin-bottom: 0;}
    .embed-video iframe {height: 320px;}
}
@media (max-width: 576px) {
    .dataTables_filter {float: none;}
}
@media (max-width: 480px) {
    .embed-video iframe {height: auto;}
}