/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
1. Desktop
2. Tablet
3. Medium devices
4. Small devices
*/

/* ----- 1. Desktop ≥1024px and ≤1190 ----- */
@media (min-width:1024px) and (max-width:1199px) {
	.h1, h1 {font-size: 50px;}
	.h2, h2 {font-size: 40px;}
	.h3, h3 {font-size: 32px;}
	.h4, h4 {font-size: 28px;}
	.navigation ul li {padding: 0 13px;}

	/*--------- home page ------------*/
	/* collection-detail */
	.collection-detail .allura {font-size: 32px;}
	/* about-us-block */
	.about-us-block .allura {font-size: 36px;}
	/* blog-features */
	.blog-features .card-body {padding: 15px 15px 60px;}
	.blog-features .card-body h3 {font-size: 26px;}
	/* single-feature */
	.single-feature h4 {font-size: 24px;}

	/*--------- blog page ------------*/
	.blog-selection {margin-bottom: 50px;}
	.card-text {padding-top: 25px;}

	/*--------- blog-entry page ------------*/
	.credits-part ul li a {font-size: 12px;}
	.inner-banner {margin-bottom: 40px;}
	.blog-entry-title .allura {font-size: 40px;}
	.blog-entry-title {margin-bottom: 40px;}
	.blog-entry-title h1 {font-size: 35px;}
	.blog-inner-img {margin-bottom: 40px;}
	.blog-inner-detail {margin-bottom: 40px;}
	.my-advice-block .text-part {padding-top: 0;}
	.my-advice-block {margin-bottom: 40px;}

	/*--------- store-locator page ------------*/
	.store-location-block {margin-bottom: 100px;}

	/*--------- trade-shows page ------------*/
	.trade-page .button-size input{width: 100%; margin-bottom: 5px;}

	/*--------- favourite-dress page ------------*/
	.favourite-dress-content .button-size input {width: 100% !important;margin-bottom: 5px;}
}

/* ----- 2. Tablet ≥768px and ≤1023 ----- */
@media (min-width:768px) and (max-width:1023px) {
	.h1, h1 {font-size: 42px;}
	.h2, h2 {font-size: 36px;}
	.h3, h3 {font-size: 28px;}
	.h4, h4 {font-size: 28px;}
	.main-content {padding-top: 77px;}

	/* header */
	/*.main-header {padding-top: 20px;padding-bottom: 20px;}*/
	.main-header {padding-top: 6px;padding-bottom: 6px;}
	.navigation {margin-left: 10px;}
	.navigation ul li {padding: 0 5px;}
	.navigation ul li a {letter-spacing: 0;}
	.search-block {margin-left: 15px;}
	.signin-btn {margin-left: 15px;}
	.search-block .search-inner {width: 200px;}
	.search-block .search-inner input {height: 40px;}

	/*--------- home page ------------*/
	/* collection-detail */
	.hero-section {padding-bottom: 90px;height: calc(100vh + 90px);}
	.collection-detail .allura {font-size: 36px;}
	/* about-us-block */
	.about-us-block {padding: 30px 0;}
	.about-us-block .allura {font-size: 36px;}
	/* blog-features */
	.blog-features {padding-bottom: 60px;padding-top: 50px;}
	.blog-features h3 {margin-bottom: 20px;}
	.blog-features .card-body {padding: 15px 0 60px;}
	.blog-features .card-body h3 {font-size: 30px;}
	.blog-features .card-body h4 {margin-bottom: 10px;}
	.single-feature {padding-bottom: 15px;margin-bottom: 13px;}
	.social-rounded a {margin-right: 10px;}
	/* single-feature */
	.single-feature h4 {font-size: 24px;}

	/*--------- product-detail page ------------*/
	.product-detail-title {margin-bottom: 20px;}

	/*--------- blog page ------------*/
	.blog-selection {margin-bottom: 30px;}
	.blog-selection .single-card h4 {margin-bottom: 10px;}
	.card-text {padding-top: 0;}
	.select-blogs ul li a {font-size: 14px;}
	.inner-banner-slider .text-main .h3, .inner-banner-slider .text-main h3 {font-size: 24px;}
	.single-card .allura {font-size: 24px;}
	.single-card p {margin-bottom: 15px;}

	/*--------- blog-entry page ------------*/
	.inner-banner {margin-bottom: 30px;padding-top: 77px;}
	.blog-entry-content {padding: 25px;}
	.blog-entry-title {margin-bottom: 30px;}
	.blog-entry-title .allura {font-size: 30px;}
	.blog-entry-title h1 {font-size: 30px;}
	.blog-inner-img {margin-bottom: 30px;}
	.blog-inner-detail {margin-bottom: 30px;}
	.combo-img {margin-bottom: 30px;}
	.credits-part ul li a {font-size: 12px;}
	.my-advice-block .text-part {padding-top: 0;}
	.my-advice-block {margin-bottom: 30px;}
	.credits-part ul li:nth-child(3n+1) {list-style: outside disc;}
	.credits-part ul li:nth-child(1) {list-style: none;}

	/*--------- store-locator page ------------*/
	.store-location-block {margin-bottom: 70px;}
	.inner-banner-slider {padding-top: 77px;}

	/*--------- store-details page ------------*/
	.store-detail-block .address-block {margin-bottom: 50px;}
	.contact-insta {margin-bottom: 50px;}

	/*--------- press page ------------*/
	.press-page .button-size input, .trade-page .button-size input, .favourite-dress-content .button-size input{width: 100% !important; margin-bottom: 5px;}

	/*--------- trade-shows page ------------*/
	.trade-page .sidebar{padding-right:20px;}
	.bridal-box-outer .bridal-box:last-child{margin-bottom: 0;}
	.bridal-box{margin-bottom: 30px;}
	.img-full iframe{height: 410px}
}

/* ----- 3. Medium devices ≤767px ----- */
@media (max-width:767px) {
	.h1, h1 {font-size: 36px;}
	.h2, h2 {font-size: 30px;}
	.h3, h3 {font-size: 28px;}
	.h4, h4 {font-size: 28px;}
	blockquote {font-size: 16px;}
	.main-content {padding-top: 58px;}
	/* header */
	/*.main-header {padding-top: 15px;padding-bottom: 15px;}*/
	.main-header {padding-top: 4px;padding-bottom: 4px;}
	.main-header .logo {width: 110px;margin: 0 auto;line-height: 1;}
	.main-header .navigation {display: none;}
	.hamburger {display: block;top: 13px;}
	.search-block {margin-left: 15px;display: none;}
	.language-section {display: none;}
	.signin-btn {margin-left: 15px;}
	.search-block .search-inner {width: 200px;}
	.search-block .search-inner input {height: 40px;}
	.single-feature.slick-active h4, .single-feature.slick-active p {color: #fff;}
	.single-feature {margin-bottom: 0;padding-bottom: 0;border-top: 2px dotted #c0b283;}
	.single-feature:last-child {border-top: 2px dotted #c0b283;border-bottom: 2px dotted #c0b283;}
	.single-feature a {padding: 20px 20px;}
	.feature-wrapper {width: 100%;max-width: 100%;}
	.feature-block .slick-arrow {font-size: 0;padding: 0;width: 20px;height: 20px;background-color: transparent;position: absolute;top: 50%;transform: translate(0,-50%);background-size: 9px;background-position: center;background-repeat: no-repeat;}
	.feature-block .slick-prev {left: -5px;background-image: url(/images/site/banner-arrow-left-white.svg);}
	.feature-block .slick-next {right: -5px;background-image: url(/images/site/banner-arrow-right-white.svg);}
	.feature-block {height: 551px;padding: 24px 0;display: flex;align-items: flex-end;}
	/* footer */
	.footer-form {margin-bottom: 15px;}
	.footer-links {margin-bottom: 15px;}
	.footer-links ul li {padding-right: 20px;}
	.newsletter-block h4:not(.allura) {margin-bottom: 15px;}
	.newsletter-block {margin-bottom: 20px;}

	/*--------- home page ------------*/
	.sidebar {margin-bottom: 30px;}
	/* collection-detail */
	.hero-section {padding-bottom: 50px;height: calc(100vh + 50px);}
	.collection-detail .allura {font-size: 36px;}
	.collection-detail h3 {color: #373737;}
	/* about-us-block */
	.about-us-block {padding: 30px 0;}
	.about-us-bg:before {position: absolute;content: "";height: 100%;width: 100%;left: 0;top: 0;background-color: rgba(255,255,255,0.3);}
	.about-us-block .allura {font-size: 36px;}
	/* blog-features */
	.blog-features {padding-bottom: 40px;padding-top: 45px;}
	.blog-features h3 {margin-bottom: 20px;}
	.blog-features .card-body {padding: 24px 30px 60px;}
	.blog-features .card-body h3 {font-size: 30px;}
	.blog-features .card-body h4 {margin-bottom: 10px;}
	.single-feature {padding-bottom: 15px;margin-bottom: 13px;}
	.tag-list {margin-bottom: 15px;}
	/* single-feature */
	.single-feature h4 {font-size: 24px;}
	.feature-block-img {background-position: 0 center; transition: 0.4s ease background;}

	/*--------- product-detail page ------------*/
	.product-detail-block {margin-bottom: 10px;}
	.product-detail-title {margin-bottom: 20px;}
	.social-rounded a {margin-right: 10px;}
	.product-inner-wrapper {margin: 0 -8px 20px;width: 100%;}
	.product-inner a:last-child {margin-bottom: 17px;}
	.product-detail-block .sidebar {margin-top: 0;order: 2;margin-bottom: 0;}
	.product-detail-block .main-bar {order: 1;}
	.blog-features.in-blog {padding-top: 30px;}
	.collections-list {text-align: center;}
	.collection-label {padding-bottom: 3px;}
	.collection-block .sidebar {position: fixed;left: -100%;width: 100%;z-index: 999999;top: 0;background-color: #fff;height: 100%;overflow: auto;padding: 65px 25px 65px;-webkit-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s;display: block;margin-top: 0;}
	.collection-block .sidebar.open {left: 0%;}
	.collection-block .close-btn {display: block;}
	.collection-top {margin-bottom: 16px;}
	.product-detail-block .sidebar .collection-name {display: none;}
	.product-detail-block > .collection-name {display: block;}
	.product-wrapper .card-img-top{object-fit: contain;}
	.main-bar {display: flex;flex-wrap: wrap;}
	.main-bar .product-wrapper {order: 1;}
	.main-bar .cst-order {order: 2;}
	.collection-block .sidebar.open .form-field.submit {opacity: 1;visibility: visible;}
	.form-field.submit {position: fixed;bottom: 16px;z-index: 9;left: 0;right: 0;margin: 0 auto;width: calc(100% - 32px);opacity: 0;visibility: hidden;-webkit-transition: all 0.6s;-o-transition: all 0.7s;transition: all 0.7s;}
	.form-field.submit input[type="submit"] {width: 100%;border-radius: 5px;box-shadow: 0px 1px 4.9px 0.2px rgba(0, 0, 0, 0.5), 0px 9px 28px 0 rgba(0, 0, 0, 0.1);background-color: #c0b283;height: 44px;}
	.tag-list {display: none;}

	/*--------- blog page ------------*/
	.blog-selection {margin-bottom: 10px;}
	.blog-selection .single-card h4 {margin-bottom: 10px;}
	.card-text {padding-top: 15px;}
	.inner-banner-slider .text-main .h3, .inner-banner-slider .text-main h3 {font-size: 24px;}
	.single-card p {margin-bottom: 15px;}
	.select-blogs ul {flex-direction: column;align-content: flex-start;justify-content: flex-start;align-items: flex-start;}
	.select-blogs ul li {flex: 100%;text-align:left;width: 100%;flex-direction: column;}
	.select-blogs ul li a {font-size: 14px;width: 100%;}
	.blog-selection .single-card .btn {position: absolute;left: 15px;bottom: 0;}
	.card-text{padding-bottom: 44px;}
	.select-blogs ul li ul {position: static !important;opacity: 1;visibility: visible;display: none;border: none;}
	.select-blogs ul li ul li a {padding: 12px 15px;border-bottom: 1px solid #c0b283;}
	.select-blogs ul li ul li ul li a {padding: 12px 30px;}
	.select-blogs li.has-sub .caret {position: absolute;top: 0px;right: 0px;width: 40px;height: 40px;transition: 0.3s;z-index: 9;}
	.select-blogs li.has-sub .caret:before ,
	.select-blogs li.has-sub .caret:after {position: absolute;content: "";top: 0;background-color: #c0b283;right: 0;left: 0;margin: 0 auto;top: 50%;transform: translate(0,-50%);transition: 0.3s;}
	.select-blogs li.has-sub .caret:before {width: 20px;height: 2px;}
	.select-blogs li.has-sub .caret:after {width: 2px;height: 20px;}
	.select-blogs ul .is-open > .caret:after {opacity: 0;visibility: hidden;}
	.select-blogs ul li ul li:hover {background-color: transparent;}
	.select-blogs ul li ul li:hover > a {color: #c0b283;}
	.select-blogs ul li ul li:last-child a {border-bottom: 1px solid #c0b283;}
	.select-blogs > ul > li {margin-bottom: -1px;}

	/*--------- blog-entry page ------------*/
	.blog-entry-content {margin: 0;}
	.inner-banner {margin-bottom: 24px;padding-top: 58px;}
	.blog-entry-content {padding: 15px;}
	.blog-entry-title {margin-bottom: 30px;}
	.blog-entry-title .allura {font-size: 36px;}
	.blog-entry-title h1 {font-size: 28px;}
	.blog-entry-title p {letter-spacing: 0.5px;}
	.blog-inner-img {margin-bottom: 30px;}
	.blog-inner-detail {margin-bottom: 30px;}
	.my-advice-block img {width: 100%;margin-bottom: 20px;}
	.combo-img {margin-bottom: 30px;}
	.credits-part ul li:nth-child(1) {list-style: none;}
	.credits-part ul li:nth-child(3n+1) {list-style: outside disc;}
	.my-advice-block .text-part {padding-top: 0;}
	.my-advice-block {margin-bottom: 30px;}
	.inner-small-banner {margin-bottom: 30px;}
	.store-title h6 {font-size: 18px;}
	.follow-shop.big ul {justify-content: center;}

	/*--------- store-locator page ------------*/
	.store-location-block {margin-bottom: 35px;}
	.inner-banner-slider {padding-top: 58px;}

	/*--------- store-details page ------------*/
	.store-detail-block .address-block {margin-bottom: 30px;}
	.contact-insta {margin-bottom: 30px;}
	.store-detail-block {margin-bottom: 30px;}
	.contact-store {margin-bottom: 20px;}
	.inner-banner.store-banner {margin-bottom: 15px;}

	/*--------- error page ------------*/
	.no-page-found {padding: 100px 0;}

	/*--------- press page ------------*/
	.press-img img{width:auto;margin: 0 auto;}

	/*--------- real-bride page ------------*/
	.real-bride-form p {font-size: 14px;}
	.real-bride-form h5 {font-size: 18px;}
	.real-bride-content .collections-list {border-bottom: 1px solid #dcd0c0;margin-bottom: 23px;}
	.real-bride-content .real-bride-content .collections-list {border-bottom: 1px solid #dcd0c0;margin-bottom: 23px;}
	.real-bride-content .collections-list ul {margin: 0;display: flex;flex-wrap: wrap;flex-direction: column;align-content: flex-start;justify-content: flex-start;align-items: flex-start;}
	.real-bride-content .collections-list ul li {flex: 100%;text-align:left;width: 100%;flex-direction: column;list-style: none;margin-bottom: 0;position: relative;}
	.real-bride-content .collections-list ul li a {font-size: 14px;width: 100%; color: #979797;letter-spacing: 1.4px;text-transform: uppercase;padding: 13px;display: inline-block;vertical-align: top;position: relative;}
	.real-bride-content .collections-list ul li a:before {position: absolute;content: "";left: 0;bottom: 0;width: 0;height: 4px;background-color: #c0b283;transition: 0.3s ease;}
	.real-bride-content .collections-list > ul > li:hover > a:before, .real-bride-content .collections-list ul li.active a:before {width: 100%;}
	.real-bride-content .collections-list ul li a:hover, .real-bride-content .collections-list ul li.active a {text-decoration: none;color: #373737;}

	/*--------- trade-shows page ------------*/
	.trade-page .sidebar{padding-right:15px;}
	.bridal-box{margin-bottom: 30px;}
	.bridal-box-outer .bridal-box:last-child{margin-bottom: 0;}
	.img-full iframe{height: 340px}
}

/* ----- 4. Small devices ≤640px ----- */
@media (max-width:640px) {
	.h1, h1 {font-size: 32px;}
	.h2, h2 {font-size: 30px;}
	.h3, h3 {font-size: 28px;}
	.h4, h4 {font-size: 24px;}

	/*--------- product-detail page ------------*/
	.insta-slide img {max-height: 80vw;}
	.collection-images {display: block;width: calc(100% + 30px);margin: 0 -15px 60px;padding-top: 14px;}
	.collection-images img {width: 100%;}

	/*--------- blog page ------------*/
	.text-wrapper {padding: 0 15px;}
	.credits-part ul li {width: 100%;list-style: none !important;text-align: center;}
	.inner-banner-slider .custom-prev {left: -15px;}
	.inner-banner-slider .custom-next {right: -15px;}
	.card-text {text-align: center;}
	.blog-selection .single-card .btn {position: absolute;left: 0;bottom: 0;right: 0;margin: 0 auto;max-width: max-content;}

	.blog-entry {margin-bottom: 8px;}
	.blog-entry-wrapper .blog-entry-content {order: 1;text-align: center;}
	.blog-entry-wrapper .blog-entry-content p {display: none;}
	.blog-entry-wrapper .blog-entry-content p:nth-of-type(1) {display: block;}
	.blog-entry-wrapper .blog-entry-content p:nth-of-type(2) {display: block;}
	.blog-entry-wrapper .cst-order {order: 2;width: calc(100% + 30px);margin: 0 -15px;padding: 0;}
	.blog-entry-title {margin-bottom: 12px;}
	.blog-inner-detail .container {display: flex;flex-wrap: wrap;}
	.banner-inner-content {order: 1;text-align: center;margin-bottom: 27px;}
	.blog-inner-img {order: 2;margin-bottom: 0;}
	.blog-inner-detail {margin-bottom: 8px;}
	.my-advice-block .my-advice-img {order: 2;}
	.my-advice-block .my-advice-text {order: 1;text-align: center;}
	.my-advice-block .my-advice-text p {display: none;}
	.my-advice-block .my-advice-text p:nth-of-type(1) {display: block;}
	.my-advice-block .my-advice-text .follow-shop.big {display: none;}
	.my-advice-block .my-advice-img .follow-shop.big {display: block;}
	.my-advice-block img {margin-bottom: 32px;}

	.select-blogs {border: none;}
	.select-blogs ul {
		display: none;
	}
	.select-blogs > ul {border-bottom: 1px solid #dcd0c0;}
	.select-blogs > ul > li:hover > a:before, .select-blogs ul li.active > a:before {display: none;}
	.select-blogs .insider {
		display: block;
		text-align: center;
		border-radius: 5px;
		border: solid 1px #e4e4e4;
		padding: 5px;
		text-transform: uppercase;
		color: #9a884b;
		position: relative;
	}
	.select-blogs .insider:before {position: absolute;content: "";width: 9px;height: 4px;background-image: url(/images/site/arrow-down-sign.svg);background-position: center;background-size: 9px;background-repeat: no-repeat;right: 12px;top: 50%;transform: translate(0,-50%);transition: 0.3s ease;}
	.select-blogs .insider.active:before {transform: translate(0,-50%) rotateX(180deg);}
	.select-blogs .insider {}

	/*--------- store-locator page ------------*/
	.store-location-block {margin-bottom: 0px;}

	/*--------- press page ------------*/
	.press-page .product-wrapper > div, .ad-campaign-page .product-wrapper > div:not(first-child), .gallery-page .product-wrapper > div{width: 50%;}
	.press-arrow{width: 100%;}

	/*--------- press detail page ------------*/
	.press-detail-link p{font-size: 14px; width: 100%; text-align: center;}
	.product-detail-block > .collection-name {display: none;}
	.product-detail-title {display: none;}
	.product-detail-block .sidebar .collection-name {display: block;}
	.product-inner-wrapper .col-2.product-inner {display: none;}
	.product-inner-wrapper {margin: 0;}
	.product-inner-wrapper .product-inner {flex: calc(100% + 30px);max-width: calc(100% + 30px);padding: 0;width: calc(100% + 30px);margin-left: -15px;}
	.product-gallery-slider {width: 100%;margin-bottom: 32px;}
	.product-detail-block {padding-top: 0;}
}

/* ----- 5. Small devices ≤576px ----- */
@media (max-width:576px) {

	.hamburger {top: 9px;}
	/*.main-header .logo {max-width: 64px;}*/
	.main-header .logo {max-width: 100px;}
	.main-content {padding-top: 49px;}
	/*--------- home page ------------*/
	.hero-section {padding-bottom: 30px;height: 1024px;}
	.hero-section:before {background-position: center bottom;background-size: 100% 100%; background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%); background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%);}
	.hero-section .banner-wrapper .banner-title {display: none;}
	.collection-title {margin-bottom: 0;}
	.collection-single {border: none;padding: 30px 0;}
	.collection-single:before {position: absolute;content: "";bottom: 0;left: 0;right: 0;margin: 0 auto;width: 99px;height: 1px;border-bottom: 1px dotted #676767;}
	.collection-single:last-child:before {display: none;}
	.collection-single a img {max-width: 247px;}
	.blog-features .card {width: calc(100% + 30px);margin: 0 -15px;flex: 100%;max-width: calc(100% + 30px);}

	/*--------- blog pages ------------*/
	.blog-img {width: calc(100% + 30px);margin: 0 -15px;}
	.inner-banner-slider {padding-top: 49px;}
	.inner-banner {margin-bottom: 24px;padding-top: 49px;}

	/*--------- general pages ------------*/
	.form-content1 .g-recaptcha {transform: scale(0.8);display: flex;justify-content: center;}

	/*--------- favourite-dresses page ------------*/
	.width-xs-50{width: 50%;}
	.img-full iframe {height: 310px}
}

/* ----- 6. Small devices ≤480px ----- */
@media (max-width:480px) {


	/*--------- real-bride page ------------*/
	.real-bride-form .form-col-cell .left, .real-bride-form .form-col-cell .right{width: 100%;}
	.real-bride-form h6 {font-size: 15px;}
	.form-content1 textarea {height: 85px;}

	/*--------- favourite-dresses page ------------*/
	.width-xs-50{width: 100%;}
	.img-full iframe {height: 240px}
}

/* ----- 7. Extra Small devices ≤320px ----- */
@media (max-width:320px) {
	/*--------- press page ------------*/
	.press-page .product-wrapper > div, .ad-campaign-page .product-wrapper > div:not(first-child), .gallery-page .product-wrapper > div, .gallery-content .row > div{width: 100%; max-width: 100%; flex: auto;}
	.img-full iframe {height: 165px}
}